.#{$prefix_plugin}btn-save {
	display: block;
	width: 300px;
	background: $green;
	color: $white;
	font-family: "Open sans", sans-serif;
	border: none;
	border-radius: 3px;
	line-height: 60px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	transition: all ease .3s;

	&:hover {
		filter: contrast(125%);
		transition: all ease .3s;
	}
}
