##{$prefix_plugin}content {
  padding: 0;
  > form {
    > .#{$prefix_plugin}tabs {
      display: none;
      &.active {
        display: block;
      }
      .#{$prefix_plugin}card-header {
        background: $white;
        position: fixed;
        width: 100%;
        top: 32px;
        h1 {
          display: block;
          padding: 0;
          margin: 0;
          line-height: 100px;
          font-size: 30px;
          font-weight: 200;
          color: $grey, 10%;
          margin-left: 30px;
          font-family: "Poppins", sans-serif;
        }
        span {
          &.caret {
            color: lighten($grey, 50%);
          }
          &.title {
            color: $primary-color;
          }
        }
      }
      > .#{$prefix_plugin}container {
        padding: 30px;
        margin-top: 100px;
        ##{$prefix_plugin}documentation {
          background: $primary-color;
          svg {
            position: relative;
            font-size: 50px;
            color: $white;
            display: block;
            margin: 0 auto 30px;
          }
          h2 {
            text-align: center;
            color: $white;
            font-weight: 300;
            font-size: 20px;
            margin: 0 0 30px 0;
          }
          p{
            text-align: center;
            color: $white;
            font-size: 15px;
          }
        }
        .#{$prefix_plugin}card {
          border: none;
          background: $white;
          font-family: "Poppins", sans-serif !important;
          padding: 30px;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          h2 {
            font-size: 20px;
            font-weight: 300;
            margin: 0 0 30px 0;
          }
        }
        .#{$prefix_plugin}card-table {
          border: none;
          background: $white;
          font-family: "Poppins", sans-serif !important;
          min-width: 700px;
          max-width: 800px;
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            tr {
              display: flex;
              align-items: center;
              padding: 30px;
              &:nth-child(even) {
                background: rgba($grey, .05);
              }
              th {
                display: inline-block;
                width: 60%;
                text-align: left;
                span {
                  display: block;
                  &.#{$prefix_plugin}title {
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                  }
                  &.#{$prefix_plugin}description {
                    font-size: 13px;
                    font-weight: 300;
                    font-style: italic;
                    color: lighten($grey, 40%);
                  }
                }
              }
              td {
                display: inherit;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    /* End tabs */
    > ##{$prefix_plugin}listButtonForm {
      display: none;
      justify-content: space-between;
      padding: 30px;
      min-width: 700px;
      max-width: 800px;
      &.active {
        display: flex;
      }
      > button {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    /* End lit form button */
  }
  /* End form */
}