##{$prefix_plugin}content {
	padding: 0;

	> form,
	> div {
		> .#{$prefix_plugin}tabs {
			display: none;

			&.active {
				display: block;
			}

			> .#{$prefix_plugin}container {
				padding: 30px;
				margin-top: 100px;

				h1 {
					display: block;
					padding: 0;
					margin: 0 0 30px;
					line-height: 40px;
					font-size: 18px;
					font-weight: 400;
					padding: 0 15px;
					background: $primary-color;
					color: $white;
					font-family: "Poppins", sans-serif;
				}

				@import 'page/dashboard';
				@import 'page/export';

				.#{$prefix_plugin}card {
					border: none;
					background: $white;
					font-family: "Poppins", sans-serif !important;
					padding: 30px;
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}

					h2 {
						font-size: 18px;
						font-weight: 500;
						margin: 0 0 30px 0;
					}

					p {
						margin-bottom: 30px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					ul {
						margin: 0;
						padding-left: 15px;

						li {
							list-style: circle;
						}
					}
				}

				.#{$prefix_plugin}card-table {
					border: none;
					background: $white;
					font-family: "Poppins", sans-serif !important;

					table {
						width: 100%;
						border-collapse: collapse;
						border-spacing: 0;

						tr {
							display: flex;
							align-items: center;
							padding: 30px;

							&:nth-child(even) {
								background: rgba($grey, .03);
							}

							th {
								display: inline-block;
								width: 60%;
								text-align: left;

								span {
									display: block;

									&.#{$prefix_plugin}title {
										font-size: 15px;
										font-weight: 500;
										text-transform: uppercase;
									}

									&.#{$prefix_plugin}description {
										font-size: 13px;
										font-weight: 300;
										font-style: italic;
										color: lighten($grey, 35%);
									}
								}
							}

							td {
								display: inherit;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}

		/* End tabs */
		> ##{$prefix_plugin}listButtonForm {
			position: fixed;
			z-index: 901;
			top: 32px;
			right: 0;
			display: flex;
			justify-content: flex-start;
			padding: 30px;
			flex-wrap: wrap;

			> button {
				font-family: "Poppins", sans-serif !important;
				font-size: 13px;
				font-weight: 400;
				margin-bottom: 15px;
				margin-right: 15px;
				padding: 0 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		/* End lit form button */
	}

	/* End form */
}
