##{$prefix_plugin}navigation {
  position: relative;
  width: 250px;
  background: $white;
  box-shadow: 0 1px 30px 1px rgba($black, .16);
  padding: 0;

  ##{$prefix_plugin}logo {
    display: block;
    width: 250px;
    height: 100px;
  }

  ul {
    margin: 0;

    li {
      margin: 0;

      a {
        position: relative;
        display: block;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: lighten($grey, 40%);
        text-decoration: none;
        padding: 15px 20px;
        transition: all ease .3s;

        &:hover {
          color: $blue;
          transition: all ease .3s;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  > nav {
    > ul {
      > li {
        > a {
          background: $white;

          &.#{$prefix_plugin}menuTitle {
            padding-left: 60px;

            &:before {
              position: absolute;
              top: 0;
              left: 0;
              content: "";
              display: block;
              opacity: 0;
              background: $blue;
              width: 0;
              height: 100%;
              transition: all ease .3s;
            }

            svg {
              position: absolute;
              top: 50%;
              left: 30px;
              transform: translateX(-50%) translateY(-50%);
              font-size: 18px;
            }

            span {
              position: relative;
              z-index: 1;
            }

            &:hover {
              &:before {
                opacity: 1;
                width: 4px;
                transition: all ease .3s;
              }
            }

            &.active {
              color: $white;

              span {
                color: $white;
              }

              &:before {
                opacity: 1;
                width: 100%;
              }

              &:after {
                color: $grey;
                transform: translateX(50%) translateY(-50%) rotate(-180deg);
                transition: all ease .3s;
              }
            }
          }
        }

        > ul {
          position: relative;
          display: none;
          background: lighten($grey, 72.5%);

          &:before {
            position: absolute;
            content: "";
            display: block;
            background: lighten($grey, 65%);
            width: 1px;
            height: 100%;
            top: 0;
            left: 30px;
          }

          > li {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              display: block;
              background: lighten($grey, 40%);
              width: 11px;
              height: 11px;
              border-radius: 50%;
              top: 50%;
              left: 30px;
              transform: translateX(-50%) translateY(-50%);
            }

            > a {
              padding-left: 60px;

              &.active {
                color: $grey;
              }

              //              &:before {
              //                position: absolute;
              //                top: 0;
              //                left: 0;
              //                content: "";
              //                display: block;
              //                opacity: 1;
              //                background: $blue;
              //                width: 4px;
              //                height: 100%;
              //                transition: all ease .3s;
              //              }
            }
          }
        }
      }
    }
  }
}
