##{$prefix_plugin}navigation {
	position: relative;
	width: 250px;

	&:before {
		position: absolute;
		top: 0;
		right: -6px;
		display: block;
		content: "";
		width: 6px;
		height: 100%;
		background: rgb(0, 0, 0);
		background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.04523816362482491) 0%, rgba(255, 255, 255, 0) 100%);
		background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.04523816362482491) 0%, rgba(255, 255, 255, 0) 100%);
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.04523816362482491) 0%, rgba(255, 255, 255, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
	}

	##{$prefix_plugin}logo {
		display: block;
		width: 250px;
		height: 250px;
	}

	ul {
		margin: 0;

		li {
			margin: 0;

			a {
				position: relative;
				display: block;
				font-family: "Open sans", sans-serif;
				font-size: 13px;
				text-decoration: none;
				padding: 15px 20px;
				transition: all ease .3s;

				&:hover {
					transition: all ease .3s;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	> nav {
		> ul {
			> li {
				> a {
					background: $white;

					&.#{$prefix_plugin}menuTitle {
						padding-left: 60px;
						color: rgba($grey, .5);

						&:before {
							position: absolute;
							top: 0;
							left: 0;
							content: "";
							display: none;
							background: $blue;
							width: 3px;
							height: 100%;
							transition: all ease .3s;
						}

						&:after {
							position: absolute;
							top: 50%;
							right: 30px;
							transform: translateX(50%) translateY(-50%);
							content: "\f0d7";
							font-family: "Font Awesome 5 Free";
							color: rgba($grey, .5);
							font-size: 15px;
							font-weight: 900;
							transition: all ease .3s;
						}

						&:hover {
							background: lighten($grey, 70%);

							&:before {
								display: block;
							}
						}

					}

					&.open {
						background: lighten($grey, 65%);
						font-weight: bold;

						&:before {
							display: block;
						}

						&:after {
							transform: translateX(50%) translateY(-50%) rotate(-180deg);
							transition: all ease .3s;
						}

						&:hover {
							background: lighten($grey, 65%);
						}

					}

					&##{$prefix_plugin}comingsoon {
						font-weight: normal;
						text-transform: inherit;
						font-style: italic;
						background: lighten($grey, 65%);
						color: lighten($grey, 40%);
					}
				}

				> ul {
					display: none;
					padding: 10px 0;
					background: lighten($grey, 70%);

					> li {

						> a {
							&.#{$prefix_plugin}menuSubTitle {
								padding-left: 40px;
								color: lighten($grey, 20%);

								&:before {
									position: absolute;
									display: block;
									content: "";
									top: 50%;
									left: 30px;
									width: 4px;
									height: 4px;
									border-radius: 50%;
									background: lighten($grey, 20%);
									transform: translateX(-50%) translateY(-50%);
								}

								&:hover {
									background: lighten($grey, 65%);

									&:before {
										display: block;
									}
								}

							}

						}
					}
				}
			}
		}
	}
}
