##{$prefix_plugin}navigation {
	width: 250px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);

	##{$prefix_plugin}logo {
		display: block;
		width: 250px;
		height: 250px;
	}

	ul {
		margin: 0;

		li {
			margin: 0;

			a {
				position: relative;
				display: block;
				font-family: "Open sans", sans-serif;
				font-size: 13px;
				text-decoration: none;
				padding: 15px 20px;
				transition: all ease .3s;

				&:hover {
					transition: all ease .3s;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	> nav {
		> ul {
			> li {
				> a {
					background: $white;

					&.#{$prefix_plugin}menuTitle {
						padding-left: 60px;
						color: rgba($grey, .5);

						&:before {
							position: absolute;
							top: 0;
							left: 0;
							content: "";
							display: none;
							background: $blue;
							width: 3px;
							height: 100%;
							transition: all ease .3s;
						}

						&:after {
							position: absolute;
							top: 50%;
							right: 30px;
							transform: translateX(50%) translateY(-50%);
							content: "\f0d7";
							font-family: "Font Awesome 5 Free";
							color: rgba($grey, .5);
							font-size: 15px;
							font-weight: 900;
							transition: all ease .3s;
						}

						&:hover {
							background: lighten($grey, 70%);

							&:before {
								display: block;
							}
						}

					}

					&.open {
						background: lighten($grey, 65%);

						&:before {
							display: block;
						}

						&:after {
							transform: translateX(50%) translateY(-50%) rotate(-180deg);
							transition: all ease .3s;
						}

						&:hover {
							background: lighten($grey, 65%);
						}

					}

					&##{$prefix_plugin}comingsoon {
						font-weight: normal;
						text-transform: inherit;
						font-style: italic;
						background: lighten($grey, 60%);
						color: lighten($grey, 25%);
					}
				}

				> ul {
					display: none;

					> li {
						list-style: circle;

						> a {
							&.#{$prefix_plugin}menuSubTitle {
								padding-left: 40px;
								background: lighten($grey, 70%);
								color: lighten($grey, 20%);

								&:before {
									position: absolute;
									display: block;
									content: "";
									top: 50%;
									left: 30px;
									width: 4px;
									height: 4px;
									border-radius: 50%;
									transform: translateX(-50%) translateY(-50%);
									background: lighten($grey, 20%);
								}

								&:hover {
									background: lighten($grey, 65%);

									&:before {
										display: block;
									}
								}

							}

						}

						&:last-child {
							> a {
								border-bottom: none;
							}
						}
					}
				}

				&:last-child {
					a {
						border-bottom: none;
					}
				}
			}
		}
	}
}
