@import 'var';
@import 'input/checkbox-001';

.toplevel_page_wpkeliosis #wpwrap {
	background: lighten($grey, 70%);
}

.toplevel_page_wpkeliosis #wpcontent {
	padding: 0;
}

.toplevel_page_wpkeliosis #wpfooter {
	display: none;
}

##{$prefix_plugin}keliosis {
	display: flex;
	justify-content: flex-start;
	@import 'navigation';
	@import 'content';
	margin: 0;
	height: 100%;
}

.toplevel_page_wpkeliosis #wpwrap,
.toplevel_page_wpkeliosis #wpcontent,
.toplevel_page_wpkeliosis #wpbody,
.toplevel_page_wpkeliosis #wpbody-content {
	height: 100%;
	min-height: inherit;
}

.toplevel_page_wpkeliosis #wpbody-content {
	padding-bottom: 0;
}
